<div style="text-align:center">
  	<form>
  		<table>
  		    <tr>
        		<td>Id:</td>	
        			<td>
        			<input type="number" name="id" value={{id}}>
        	        </td>
        	</tr>
        	<tr>
        		<td>Nombre:</td>	
        			<td>
        			<input type="text" name="nombre" value={{nombre}}>
        	        </td>
        	</tr>	        
        	<tr>
        		<td>Apellidos:</td>	
        			<td>
        			<input type="text" name="apellido" value={{apellido}}>
        	        </td>
        	</tr><tr>
        		<td>Numero de Identificacion:</td>	
        			<td>
        			<input type="text" name="NumeroIdentificacion" value={{numeroIdentificacion}}>
        	        </td>
        	</tr>	
        	<tr>
        		<td>Tipo de identificacion:</td>
	        		<td>
	        		<select>
	        		<option>Cedula</option>
	        		<option>Targeta Identidad</option>
	        		</select>
	        		</td>
        	<tr>
        		
        		
  		</table>
  	</form>
</div>
