<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<h2>Seleccione el enlace donde quiere ir: </h2>
<ul>
  <li>
    <h2><a target="_blank" routerLink="/Encabezado">Encabezado</a></h2>
  </li>
  <li>
    <h2><a target="_blank" routerLink="/Main">Main</a></h2>
  </li>
  <li>
    <h2><a a target="_blank" routerLink="/PiePagina">Piepagina</a></h2>
  </li>
   <li>
    <h2><a a target="_blank" routerLink="/CreacionPersona">CreacionPersona</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
